# Environment variables
.env
.env.local
.env.development
.env.production
.env*.local

# Dependencies
node_modules

# Logs
logs
*.log
npm-debug.log*

# Uploads (if sensitive)
uploads/*
!uploads/.gitkeep

# OS files
.DS_Store
Thumbs.db