@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@import "tailwindcss";

@source "../index.html";
@source "./**/*.{js,jsx,ts,tsx}";

body,
html {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
}

button,
input,
select,
textarea,
a,
.file-name,
.subject-header,
.dashboard-header,
.add-subject-btn,
.add-topic-btn,
.btn-primary,
.btn-secondary,
.btn-danger {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}
