@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
/*this is our global css*/
body,
html {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
}

button,
input,
select,
textarea,
a,
.file-name,
.subject-header,
.dashboard-header,
.add-subject-btn,
.add-topic-btn,
.btn-primary,
.btn-secondary,
.btn-danger {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

